# Envs
NODE_ENV=development

# General
APP_NAME=King_Manga
APP_TITLE=King_Manga_Api
APP_DESCRIPTION=Backend for King_Manga

# API
APP_PREFIX=v1
APP_API_EXPLORER_PATH=/api

# JWT 
# King_Manga@2021@Backend
APP_SECRET=e029cabd211eb42787a10b1fd4f52188

# Server
APP_PORT=7597

# Database
MONGO_URI=mongodb://root:password@localhost:27017
